<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="shop">
	<select resultType="com.bc.mybatis.ShopVO" parameterType="String" id="list">
		SELECT NUM, CATEGORY, P_NUM, P_NAME, P_COMPANY, P_PRICE, P_SALEPRICE, P_IMAGE_S, P_IMAGE_L, P_CONTENT, P_DATE
		  FROM SHOP_T
		 WHERE CATEGORY = #{category} 
	</select>
	
	<select resultType="com.bc.mybatis.ShopVO" parameterType="String" id="one">
		SELECT NUM, CATEGORY, P_NUM, P_NAME, P_COMPANY, P_PRICE, P_SALEPRICE, P_IMAGE_S, P_IMAGE_L, P_CONTENT, P_DATE
		  FROM SHOP_T
		 WHERE P_NUM = #{p_num} 
	</select>
</mapper>















